.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;

}

.plane-card {
    background-color: white;
    background-color: white;
    box-shadow: 0px 2px 8px #c8c8c8;
}

.test-img {
    background-image: url('./img/boeing_247.jpg');
}

.img {
    object-fit: cover;
    height: 210px;
    width: 100%;
    
    
}